<%= javascript_include_tag :defaults %>

<h1>Baby name suggestions</h1>


<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Comments </th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <% form_for :suggestion do |form| %>
      <td> <%= form.text_field :name, :id => "newnamebox" %> </td>
      <td></td>
      <td> <%= form.text_field :desc, :size => 40 %> </td>
      <td> <%= form.submit "Add new" %> </td>
      <td> </td>
    <% end %>
  </tr>


<% for name in @suggestions %>
<% oldv = @user.get_vote(name.name)
  if (oldv == 1) 
    linku = "/images/uarrow-lt.png"
    byu = -1
    linkd = "/images/darrow-dk.png"
    byd = -2 
  elsif (oldv == -1) 
    linkd = "/images/darrow-lt.png"
    byd = 1
    linku = "/images/uarrow-dk.png"
    byu = 2
  else
    linku = "/images/uarrow-dk.png"
    linkd = "/images/darrow-dk.png"
    byu = 1
    byd = -1
  end 
%> 
  <tr valign="middle" height=50px class="<%= cycle('name-odd', 'name-even') %>"> 
    <td id="vote">
      <%= link_to(image_tag(
          linku, :id => "arrow", :size => "18x13"),
          { :action => 'modify_votes', 
            :id => name.id, 
            :by => byu },
          :update => "suggestion" + name.id.to_s) %>
      <span id="suggestion<%= name.id.to_s %>">
        <%=name.votes%>
      </span>
      <%= link_to(image_tag(
          linkd, 
          :id => "arrow", :size => "18x13"),
          { :action => 'modify_votes', 
            :id => name.id, 
            :by => byd },
          :update => "suggestion" + name.id.to_s) %>
    </td>
    <td><%=h name.name %></td>
    <td><%=h name.sex %></td>
    <td class="description"><%=h name.desc %></td> 
    <td>(<%= link_to 'Edit', edit_suggestion_path(name) %>)</td>
    <td class="hidden"> 
        <span id="hidedelete" >
          <%= link_to 'delete', name, 
                      :confirm => 'Are you sure you want to delete this suggestion?', 
                      :method => :delete %>
        </span>
    </td>
    <!--<td><%= link_to 'Show', name%></td>-->
  </tr>
<% end %>
    <td></td>
    <% form_for :suggestion do |form| %>
      <td> <%= form.text_field :name %> </td>
      <td></td>
      <td> <%= form.text_field :desc, :size => 40 %> </td>
      <td> <%= form.submit "Add new" %> </td>
      <td> </td>
    <% end %>
  </tr>


</table>


<br />

