<%= javascript_include_tag :defaults %>

<h1>Baby name suggestions</h1>


<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Comments </th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td></td>
    <% form_for :suggestion do |form| %>
      <td> <%= form.text_field :name, :id => "newnamebox" %> </td>
      <td></td>
      <td> <%= form.text_field :desc, :size => 40 %> </td>
      <td> <%= form.submit "Add new" %> </td>
      <td> </td>
    <% end %>
  </tr>


<% for name in @suggestions %>
  <tr valign="top" class="<%= cycle('name-odd', 'name-even') %>"> 
    <td id="vote"> 
      <%= link_to(image_tag("/images/darrow.png", :id => "arrow", :size => "10x10"),
             { :action => 'modify_votes', 
               :id => name.id, 
               :by => -1 },
             :update => "suggestion" + name.id.to_s) %>
         <span id="suggestion<%= name.id.to_s %>">
           <%=name.votes%>
         </span>
         <%= link_to(image_tag("/images/uarrow.png", :id => "arrow", :size => "10x10"),
             { :action => 'modify_votes', 
               :id => name.id, 
               :by => 1 },
             :update => "suggestion" + name.id.to_s) %>
    </td>
    <td><%=h name.name %></td>
    <td><%=h name.sex %></td>
    <td><%=h truncate(name.desc, 40) %></td> 
    <td>(<%= link_to 'Edit', edit_suggestion_path(name) %>)</td>
    <td class="hidden"> 
        <span id="hidedelete" >
          <%= link_to 'delete', name, 
                      :confirm => 'Are you sure you want to delete that suggestion?', 
                      :method => :delete %>
        </span>
    </td>
    <!--<td><%= link_to 'Show', name%></td>-->
  </tr>
<% end %>
    <td></td>
    <% form_for :suggestion do |form| %>
      <td> <%= form.text_field :name %> </td>
      <td></td>
      <td> <%= form.text_field :desc, :size => 40 %> </td>
      <td> <%= form.submit "Add new" %> </td>
      <td> </td>
    <% end %>
  </tr>


</table>


<br />

<!--
<%= link_to 'Add a new suggestion', new_suggestion_path %>
-->
